
@{
    ViewBag.Title = "About";
}

<h2>Something about Shrek</h2>
<h5>About me blah-blah-blah...swamp</h5>

<div class="container" style="background-color:lightgrey; padding: .5%;">
    <div class="row">
        <div class="col-sm-8">
            <h3>Bio</h3>

            <p>
                I am Tyron Kendall, a second year informations systems student studying at the Universtiy of Pretoria.
                My favorite modules are INF 272 and INF 214, I definitely dont like INF 271... That module is too hard and makes me very sad.
                My hobbies are bike riding and coding and i occasionaly play basketball.

            </p>
        </div>

        <div class="col-sm-4">
            <h3>Shrek</h3>

            <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Walter_White_S5B.png" style="width:100%; height:100%; padding-right: 10px; padding-bottom: 10px"/>
        </div>
    </div>
</div>
